.txt-primary {
    color: var(--color-primary) !important;
}

.txt-secondary {
    color: var(--color-secondary) !important;
}

.txt-white {
    color: var(--color-white) !important;
}

.txt-black {
    color: var(--color-black);
}

.bg-blue {
    background-color: var(--color-secondary) !important;
}

.bg-white {
    background-color: var(--color-white);
}

.bg-light-gray {
    background-color: var(--color-light-gray);
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-48 {
    font-size: 48px;
}